$color-primary: #ff7628;
$color-secondary: #3277e1;
$color-white: #fff;
$color-text-blue: #001A7d;
$color-text-green: #00633A;
$color-text-note:#868686;

// title
$title-green: #28B590;

// bg
$bg-green: #82CFB4;
$bg-blue: #6A8AC6;
$bg-snow: #ECF4F9;